<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017. Ibanga Enoobong Ime (World class developer and entrepreneur in transit)
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.enoobong.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".BakingApp"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.IngredientStepActivity"
            android:label="@string/title_activity_ingredient_step"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.enoobong.bakingapp.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.IngredientStepDetailActivity" />

        <provider
            android:name=".data.RecipeProvider"
            android:authorities="co.enoobong.bakingapp"
            android:exported="false" />

        <receiver android:name=".ui.RecipeAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="co.enoobong.bakingapp.ACTION_DATA_UPDATED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_app_widget_info" />
        </receiver>

        <service
            android:name=".ui.RecipeWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>